.btn{
  padding: 1.4rem 3.1rem;
  color: $white-color;
  transition: 0.3s;
  border-radius: 2.8rem;

}
.header__btn{
  background-color: $dark-blue-color;
  
}
.header__btn:hover{
  background-color: $blue-color;
  transform: rotate(15deg);
}
.hero__btn{
  background: $brand-color;
}
.hero__btn:hover{
  background: $brand-color;
  opacity: 0.6;
  transform: rotate(399deg);
}
.footer__btn{
  background: $secondary-color;
  transition: 0.3s;
}
.footer__btn:hover{
  background: $secondary-color;
  opacity: 0.5;
  transform: rotate(15deg);
}